body {
  background-color: #62c2c8;
}

.App {
  background-color: white;
  min-height: 80vh;
  width: 400px;
  margin: 20px auto;
}

.crossed {
  text-decoration: line-through 2px red;
  -webkit-text-decoration-line: line-through;
  -webkit-text-decoration-color: red;
  background-color: #f0f0f0;
  color: rgba(128, 128, 128, 0.788);
}

ul, li {
  list-style-type: none;
  padding: 5px;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.bag {
  margin-right: 5px;
}

h1, button {
  font-family: 'Montserrat', sans-serif;
}

button {
  margin-top: 10px;
  font-size: 16px;
  padding: 5px 10px;
  border: none;
  color: white;
  margin-top: 15px;
  border-radius: 10px;
}

input::placeholder {
  font-family: 'Montserrat', sans-serif;
  color: #2f7277;
}

input {
  width: 300px;
  border:  2px solid #2f7277 !important; 
  border-radius: 10px;
  padding-left: 10px;
  font-family: 'Montserrat', sans-serif;
}

.center {
  display: flex;
  justify-content: center;
}

.add {
  background: #65aa06;
}

.del {
  background: #d30100;
  margin-top: 20px;
}
